{% extends "base_file.html" %}
{% load static %}

{% block title %}
    <title>Shrink Enlarged Prostate with ProstaRight Tea | Zero PSA Values by Nature's Signs</title>
{% endblock title %}

{% block prostaright_tea %}
    <section id="about_prostaright_bg">
        <div class="about_prostaright_bg_img"></div>
    </section>
    <section id="about_prostaright_bg_content">
        <div class="container">
            <h2>Features and Health Benefits</h2>
            <ul>
                <li>Great for Shrinking Enlarged Prostate</li>
                <li>Helps Treat Loss of Libido</li>
                <li>Great for Men's Health</li>
                <li>Good for Mood Improvement</li>
                <li>Reduces Prostate Inflamation</li>
                <li>Great for Cancer</li>
            </ul>
        </div>
    </section>
{% endblock %}