{% extends "base_file.html" %}
{% load static %}

{% block store %}
    <section class="store-items" style="margin-top: 60px;">
        <div class="container">
            <div class="row">
                    {% if items %}
                    {% for item in items %}
                        {% if item.image %}
                            <!-- A Product Start -->
                            <div class="col-md-3 col-sm-3">
                                <div class="card" style="width: 18rem;">
                                    <a href="{% url 'product_detail' slug=product.slug %}"><img src="{{ item.image.url }}" class="img-responsive "></a>
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="#">{{ item.title }}</a></h5>
                                        <h5><strong>{{item.price}}</strong></h5>
                                        <p class="card-text">{{item.description}}</p>
                                    </div>
                                </div> 
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                <h4 class="no-artisans">No product to display at this moment, kindly check back later!</h4>
                {% endif %}
            </div>
        </div>
    </section>     
{% endblock %}
