@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*{
    box-sizing: border-box;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    font: 13px/2.1rem "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
  }

  h1,h2,h3,h4,h5,h6{
    font-family: Poppins
}
  .navbar-expand-lg{
      background: #FFFFFF !important;
      bottom: -27px !important;
  }

  .signup_cta_btn{
      background: #000000;
      color: #FFFFFF;
  }

  .signup_cta_btn:hover{
      background: #28a745;
      color: #FFFFFF;
  }

  .firstNav.navbar.ul.li{
      padding-top: 70px;
  }

  .nav.navbar.ul.a{
      text-transform: uppercase;    
  }

  .dropdown:hover>.dropdown-menu{
      display: block;
  }

.navbar-brand img{
	padding-left: 0px;
}

.secondNav{
    padding-top: 45px;
}

.showcase h1{
    font-size: 2.3x;
    margin-bottom: 15px;
    padding-top: 8px;
}

.showcase-btn{
    background-color: transparent;
    border: 1px solid;
    border-radius: .25rem;
    border-color: #28a745;
    text-align: center;
    line-height: 1.5;
    display: inline-block;
    color: #28a745 !important;
}

.showcase-btn:hover{
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
    background-color: #28a745;
    color: #FFFFFF !important;
    border-color: #28a745;
}

#testimonial{
    background: #F1F1F1;
    padding: 50px 0 30px 0;
    text-align: center;
}

#testimonial p{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#testimonial p.user{
    font-size: 13px;
    color: #999;
}

#how_we_do_it{
    background: rgb(126, 122, 122);
    min-height: 400px;
    color: #eee;
    position: relative;
    text-align: center;
}

#how_we_do_it h1{
    padding-top: 35px;
    text-transform: uppercase;
    font-size: 3.1rem;
}

#how_we_do_it p{
    font-size: 1.3rem;
    padding-top: 15px;
    line-height: 30px;
}

.btn.btn-how-we-it-cta{
    background: #eeeeee;
    min-width: 160px;
    font-size: 1.2rem;
    color: rgb(126, 122, 122);
    text-transform: uppercase;
}

.btn.btn-how-we-it-cta:hover{
    color: #2c2727;
}

h1.landing_content{
    color: #eeeeee;
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 67px;
    text-align: justify;
    font-size: 3.2rem;
}

p.landing_banner_left_text{
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;
    text-align: justify;
    color: #eee;
    font-size: 1.3rem;
}

.btn.btn_explore_services_cta{
    background: #eeeeee;
    margin-left: 100px;
    margin-top: 30px;
    min-width: 180px;
    font-size: 1.7rem;
    color: #2c2727;
    
}
.brand-logo:hover{
	color: #FFFFFF;

}

.card.card-image.services_main_card{
    background: url('../images/cards/main_services_card.jpeg');
    background-size: cover;
    width: 100%;
    height: 420px;
    max-width: 100%;
    border-radius: 0;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}

#landing_page_banner{
    text-align: center;
    background: url('../images/cards/prostarighttea.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 550px;
    margin-top: 80px;
    margin-bottom: 30px;
    width: 100%;
}

.services_card_text{
    position: absolute;
    width: 100%;
    top: 50px;
    right: -310px; 
}

.row.mx-1{
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

p.pb-3{
    font-size: 1.2rem;
}

.card.card-image.service_section.cat1{
    background: url('../images/cards/cat1.jpeg');
    background-repeat: no-repeat;
    background-size: 100;
    height: auto;
    
}

.service_request_cta{
    background: none;
    border: 1px solid #eeeeee;
    min-width: 75px;
}

.card.card-image.about_page_banner{
    background: url('../images/cards/about_bg.jpeg');
    background-size: 100%;
    min-height: 450px;
    max-width: 100%;
    border-radius: 0;
    position: relative;
}

.about_card_text{
    position: absolute;
    width: 100%;
    top: 150px;
    right: -510px; 
}

.about-btn{
    background: none;
    border: 1px solid #eeeeee;
    min-width: 75px;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-form.navbar-left{
	position: relative;
	bottom: -27px;
}

input.form-control.search-box{
	width: 550px;
	background-color: transparent !important;
	box-shadow: none;
    border-style: none;
    border: 1px solid #CCCCCC;
    border-radius: .25rem;
    color: darkgrey;
   
}

.schedule_appointment{
    background: url('../images/features/appointment.jpeg');
    background-size: 100%;
}

.container.main-nav{
    padding: 0px;
}

section.signup-banner{
    width: 100%;
    padding-top: 100px;
}

.nav-link.cta-signup{
    background-color: transparent;
    border: 1px solid;
    border-radius: .25rem;
    width: 80px;
    border-color: #28a745;
    text-align: center;
    line-height: 1.5;
    display: inline-block;
    height: 34px;
    
}

.nav-link.cta-signup:hover{
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
    background-color: #28a745;
    color: #FFFFFF !important;
} 

.cta-shop_now{
    margin-right: 20px;
}

.nav-link.cta-login{
    border: 1px solid;
    border-radius: .25rem;
    width: 80px;
    border-color: #000000;
    text-align: center;
    line-height: 1.5;
    display: inline-block;
    background-color: #000000;
    color: #FFFFFF !important;
    margin-left: 20px;
}

.nav-link.cta-login:hover{
    border: 1px solid #28a745 !important;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
    background-color: #28a745;
    color: #FFFFFF !important;
}
.mainNavMenu{
    margin-left: 70px;
    text-transform: uppercase !important;
}

img{
    display: block !important;
    width: 100 !important;
    height: auto !important;
}

.copy{
    color: antiquewhite;
}

/* footer section style begins */

section {
    padding: 60px 0;
}

.showcase{
    padding-top: 0%;
}

.fa.fa-phone, .fa-envelope{
    margin-right: 10px;
}

section .section-title {
    text-align: center;
    color: #003300;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #003300 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#CCCCCC;
}
#footer a {
    color: #CCCCCC;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
    padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
    transition: .5s all ease;
    color: rgb(234, 157, 240);
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#CCCCCC;
}
#footer ul.social li a:hover{
	color:#CCCCCC;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

.row.site-footer{
    border-top: 1px solid #CCCCCC;
}

#footer p{
    color: #CCCCCC !important;
}

#footer p.i{
    color: #CCCCCC ;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

/* footer section style begins */