.col-2.user-side-menu{
    background: #28a745;
    text-transform: uppercase;
    text-align: center;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #888;
    color: aliceblue;
}