{% extends 'base_file.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block login %}
    <section class="showcase" style="padding-top: 100px;">
        <div class="container login-section">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="showcase-left">
                        <img src="{% static 'images/login.jpeg'%}" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="showcase-right">
                        <div class="col-md-6">
                            <form class="user-form" action="{% url 'login' %}" method="post">
                                {% csrf_token %}
                                {{ form|crispy }}
                                {% if request.GET.next %}
                                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                                {% endif %}
                                <br>
                                <button type="submit" class="login-btn btn btn-success" style="min-width: 240px">Log In</button>
                            </form>
                            <br>
                            <a class="forgotLnk" href="#">I can't access my account</a>
                            <div class="or-box row-block">
                                 <div class="row">
                                    <div class="col-md-12 row-block">
                                        <br>
                                         <a href="{% url 'signup' %}" class="signup_cta_btn btn" style="min-width: 240px;">Create New Account</a>
                                    </div>
                                </div>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
