{% extends "base_file.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block reset_password %}
<section class="signup-banner">
    <div class="container signup_page">
        <h2 class="signup-screen">Forgot password</h2>
        <form class="sign-form" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-4 mb-0">
                    {{form.email|as_crispy_field}}
                </div>        
            </div>
            <br>
            <button type="submit" class="btn btn-success btn-lg signup-btn">Submit</button>
        </form>
    </div>
</section>
{% endblock %}