{% extends 'base_file.html' %}

{% load static %}

{% block title %} 
    <title> Nature's Signs | User Profile </title>
{% endblock %} 

{% block profile %}
    <div class="container" style="padding-top: 35px; padding-bottom: 35px;">
        <br>
        <h2>Profile Info</h2>
        <p>Username: {{user.username}}</p>
        <p>First Name: {{user.first_name}}</p>
        <p>Last Name: {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Phone: {{user.userprofile.phone}}</p>
    </div>
{% endblock %}