{% extends "base_file.html" %}

{% block view_blog %}
      <section id="articles_list" style="margin-top: 60px;">
          <div class="container">
              <div class="row">
                {% if articles %}
                {% for article in articles %}
                    {% if article.title %}
                        <!-- A Product Start -->
                        <div class="offset-md-3 col-md-6 col-sm-6">
                            <h1>Welcome to our Articles page</h1>
                            <h3>{{article.title}} <small>~ By {{article.created_by}}</small></h3>
                            <p>Published: {{article.date}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
            <h4 class="no-artisans">No blogs to display currently, kindly check back later!</h4>
            {% endif %}
          </div>
      </section>
{% endblock view_blog %}