{% extends "base_file.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block affiliate_program %}
<section class="become_an_affilaite" style="padding-top: 110px">
    <div class="container">
        <div class="col-md-9">
            <h3>Welcome to our new distributor affiliate page</h3>
            <p>With our affiliate program, we promote and source for viable healthcare products available</p>
            <br>
            <form class="schedule_appointment_cta" method="POST">
                {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            {{form.first_name|as_crispy_field}}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{form.last_name|as_crispy_field}}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{form.email|as_crispy_field}}
                        </div>
                    </div>  
                    <div class="row">
                        <div class="form-group col-md-4 mb-0">
                            {{form.job_title|as_crispy_field}}                    
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{form.contact_phone_number|as_crispy_field}}                    
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{form.company_name|as_crispy_field}}                    
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-8 mb-0">
                            {{form.contact_address|as_crispy_field}}                    
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{form.city|as_crispy_field}}                    
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4 mb-0">
                            {{form.state|as_crispy_field}}                   
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{form.country|as_crispy_field}}                    
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{form.website|as_crispy_field}}                    
                        </div>
                    </div>
                    <br>               
                    <div class="g-recaptcha" data-sitekey="6Lf6ua8UAAAAAN2ehPz-5_K_EptCZN-RSQafqaFy"></div>
                    <br>
                <input type="submit" value="Submit" class="btn btn-success">
            </form>
        </div> 
    </div>
</section>
{% endblock %}