{% extends "base_file.html" %}
{% load static %}

{% block index %}
<!-- Header showcase area -->
<header id="showcase_header" class="grid">
    <div class="showcase_bg_image"></div>
    <div class="header_content_wrap">
        <h1>It's Ever so Blooming Delicious!</h1>
        <p>
            Take charge of your prostate health. Be in complete control of your manhood and enjoy a blooming life.
            A good life starts and ends with a big, happy mug of PROSTARight Tea, a proud product of Nature’s Signs.
            It's a pleasant, brilliant arrangement for those who want to be in control of life, even as man.
        </p>
        <a class="btn what_we_do_btn" href="#">Learn More</a>
    </div>
</header>

<!-- Main content area -->
<main id="main">
<!-- Section B -->
    <section id="section-b" class="grid-section-b" style="margin-left: 50px; padding-top: 130px !important; padding-bottom: 60px !important">
        <ul>
            <li>
                <div class="card">
                    <img src="{% static 'images/showcase/herbal_drink.jpeg'%}" alt="section-b-image">
                </div>
            </li>
            <li>
                <div class="card-content" style="margin-top: 30px;">
                    <h3 class="card-title">Proven Solutions, </br>Driven by Experts.</h3>
                    <p>
                        Given the fact that human is an integral part of nature, it’s not unwise to say that the 
                        human body adapts perfectly with natural medicines, and today, it’s no longer news that 
                        natural and herbal medicines have made their ways into the main-stream medicine, with research
                        at the faster speed. Nature’s Signs is a platform that sources for quality natural and 
                        herbal solutions for a variety of day-to-day applications.
                    </p>
                    <br>
                    <a class="btn btn-success btn-lg showcase-btn" href="{% url 'about_us' %}">Learn More</a>
                </div>
            </li>
        </ul>
    </section>
    
    <!-- Section A -->
    <section id="testimonial">
        <div class="container testimonial-content">
            <p>
                I’ve enjoyed a cutting-edge, individualized, and comprehensive solutions from Nature’s Signs with remarkable results. 
                It offers credible, purely natural products to address diverse medical and health situations. I recommend this platform to anyone who seem unsatisfied with the outcomes of regular medical solutions.
            </p>
            <p class="user"> ~ Mac-Clinton Membere</p>
        </div>
        </section>
    <!-- Section C -->
    <section>
        <div class="container-fluid">
            <h1 style="text-align: center;">Purely Natural & Organic Blends</h1>
            <p style="text-align: center; margin-top: 15px;">On Nature's Signs, we sell products that are naturally formulated with immense health benefits.</p>
        </div>
    </section>
    <section id="section-c" class="section-c-grid" style="margin-left: 50px; margin-right: 50px">
        <ul>
            <li>
                <div class="card features-letf">
                    <img src="{% static 'images/features/med_treatment.jpeg' %}" alt="section-c-image-1">
                </div>  
                <div class="card-content features-letf">
                    <h5 class="card-title">Medical Treatments</h5>
                    <p>
                        Whether the case is preventive, curative, we're dedicated to giving you the benefit to fully recover.
                    </p>
                </div>           
            </li>
            <li>
                <div class="card features-letf">
                    <img src="{% static 'images/features/skin-care.jpeg' %}" alt="section-c-image-2">
                </div> 
                <div class="card-content features-letf">
                    <h5 class="card-title">Skin Care</h5>
                    <p>
                        Desire a naturally and beautifully looking skin? Our organic products promise you the real results.
                    </p>
                </div>           
            </li>
            <li>
                <div class="card features-right">
                    <img src="{% static 'images/features/personal_care.jpeg' %}" alt="section-c-image-3">
                </div> 
                <div class="card-content features-right">
                    <h5 class="card-title">Personal Care</h5>
                    <p>
                        Self protection from insect-bite, sunburn is very important. Our products address any case timely..
                    </p>
                </div>           
            </li>
            <li>
                <div class="card features-right">
                    <img src="{% static 'images/features/drugs.jpg' %}" alt="section-c-image-4">
                </div> 
                <div class="card-content features-right">
                    <h5 class="card-title">Drug & Prescription</h5>
                    <p>
                        We use credible and in-depth findings to offer you valuable prescription and drugs dispensary.
                    </p>
                </div>          
            </li>
        </ul>
    </section>
    <section id="how_we_do_it">
        <div class="container how_we_do_it_content">
            <h1>Our Approach</h1>
            <p>
                We use scientifically-proved natural medical solutions to address challenging health issues very fast; with products that
                are made from the safest, freshest organic ingredients, helping you to maintain good health rather than fighting diseases.
            </p>
            <br>
            <a class="btn btn-how-we-it-cta" href="#">Explore Products</a>
        </div>
    </section> 
</main> 
{% endblock index %}