{% extends 'base_file.html' %}
{% load static%}

{% block index %}
<section class="landing_banner">
    <div class="contaniner-fluid" style="width: 100%; padding-top: 30px !important;">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12" style="padding-left: 0; padding-right: 0; ">
                <div class="landing_banner_left" style="background: #009999; min-height: 437px;">
                    <h1 class="landing_content">The Nature’s Signs</h1>
                    <p class="landing_banner_left_text">
                        New grounds have been broken in developing natural health products, those that match or out-perform the chemically enhanced counterpart, packed with innovation for purpose of purity. 
                        This platform sources for the best, organically formulated solutions that help you strike the right balance.
                    </p>
                    <br>
                    <a class="btn btn_explore_services_cta" href="{% url 'our_services' %}">Explore services</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12" style="padding-left: 0; padding-right: 0;">
                <div class="landing_banner_right">
                    <a class="" href="">
                        <img src="{% static 'images/cards/showcase_card2.jpeg' %}" style="width: 100%;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="showcase showcaseMain">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-sm-6">
                  <div class="showcase-left">
                      <img src="{% static 'images/showcase/herbal_drink.jpeg'%}" class="img-responsive">
                  </div>
              </div>
              <div class="col-md-6 col-sm-6">
                    <div class="showcase-right">
                        <h1 class="showcase-text-highlight">
                           Proven Solutions, </br>Driven by Experts.
                        </h1>
                        <p class="showcase-text-content">
                            Given the fact that human is an integral part of nature, it’s not unwise to say that the 
                            human body adapts perfectly with natural medicines, and today, it’s no longer news that 
                            natural and herbal medicines have made their ways into the main-stream medicine, with research
                            at the faster speed. Nature’s Signs is a platform that sources for quality natural and 
                            herbal solutions for a variety of day-to-day applications.
                        </p>
                    </div> 
                    <br>
                    <a class="btn btn-success btn-lg showcase-btn" href="{% url 'about_us' %}">Learn more</a>
              </div>  
          </div>          
        </div>
  </section>
  <section id="testimonial">
      <div class="container testimonial-content">
          <p>
            I’ve enjoyed a cutting-edge, individualized, and comprehensive solutions from Nature’s Signs with remarkable results. 
            It offers credible, purely natural products to address diverse medical and health situations. I recommend this platform to anyone who seem unsatisfied with the outcomes of regular medical solutions.
          </p>
         <p class="user"> ~ Mac-Clinton Membere</p>
      </div>
  </section>
  <section class="features">
    <div class="container">
        <h1 style="text-align: center;">Purely Natural & Organic Blends</h1>
        <p style="text-align: center; margin-top: 15px;">On Nature's Signs, we sell products that are naturally formulated with immense health benefits.</p>
        <div class="row" style="margin-top: 60px;">
            <div class="col-md-3 col-sm-3">
                <div class="card features-letf" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'images/features/med_treatment.jpeg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Medical Treatments</h5>
                        <p class="card-text">Whether the case is preventive, curative, we're dedicated to giving you the benefit to fully recover.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 ">
                <div class="card features-letf" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'images/features/skin-care.jpeg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Skin Care</h5>
                        <p class="card-text">Desire a naturally and beautifully looking skin? Our organic products promise you the real results.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="card features-right" style="width: 18rem;">
                    <img class="card-img-top " src="{% static 'images/features/personal_care.jpeg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Personal Care</h5>
                        <p class="card-text">Self protection from insect-bite, sunburn is very important. Our products address any case timely.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="card features-right" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'images/features/drugs.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Drug & Prescription</h5>
                        <p class="card-text">We use credible and in-depth findings to offer you valuable prescription and drugs dispensary.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <section id="how_we_do_it">
      <div class="container how_we_do_it_content">
          <h1>Our Approach</h1>
          <p>
              We use scientifically-proved natural medical solutions to address challenging health issues very fast; with products that
              are made from the safest, freshest organic ingredients, helping you to maintain good health rather than fighting diseases.
          </p>
          <br>
          <a class="btn btn-how-we-it-cta" href="#">Explore Products</a>
      </div>
  </section> 
{% endblock %}